Nifi/iot_flow.json
{"flowContents":{"identifier":"bf97c5f2-1350-3ce4-b776-c5600d946886","instanceIdentifier":"0befe928-0192-1000-5e28-4cbc18f69e7b","name":"iot_flow","comments":"","position":{"x":464.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d5ed00b2-0a27-3c2c-bbb6-b6562b7ea73a","instanceIdentifier":"0fb9a232-0192-1000-3a1c-f5c80915132c","name":"add metadata","comments":"","position":{"x":792.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.27.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"\"Stony Ford Station, Campbell Hall, NY\"","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"8a3eed69-cb2c-3919-8be9-03dc158fcd5a","instanceIdentifier":"0c1e2f6c-0192-1000-3d6d-2dedfbb9cae3","name":"Kafka Consumer","comments":"","position":{"x":272.0,"y":552.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.27.0"},"properties":{"header-name-regex":null,"record-writer":"7df9fecd-5909-3919-87fc-3292c47a7ac3","group.id":"iot-data-consumer","bootstrap.servers":"localhost:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"43bc6590-344b-30cb-978b-66d161b2dc48","message-header-encoding":"UTF-8","sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"iot-data","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"d7ebc007-5e62-3769-a1ab-ede3d91688a8","instanceIdentifier":"0c372f3c-0192-1000-7c3d-2e532775444d","name":"Write to Influx","comments":"","position":{"x":1592.0,"y":560.0},"type":"org.influxdata.nifi.processors.PutInfluxDatabaseRecord","bundle":{"group":"org.influxdata.nifi","artifact":"nifi-influx-database-nar","version":"1.30.0"},"properties":{"influxdb-consistency-level":"ONE","influxdb-tags":"channel_id, status","influxdb-dbname":"iot_db","influxdb-batch-jitter-duration":"0 ms","influxdb-tags-field-behavior":"IGNORE","influxdb-timestamp-field":"timestamp","influxdb-measurement":"sensor_data","influxdb-log-level":"NONE","influxdb-fields-field-behavior":"IGNORE","influxdb-timestamp-precision":"NANOSECONDS","influxdb-fields":"field1, field2, field3, field4, field5, field6, field7, field8, latitude, longitude, elevation","influxdb-null-behavior":"IGNORE","influxdb-retention-policy":"autogen","influxdb-batch-buffer-limit":"10000","influxdb-max-records-size":"1 MB","influxdb-service":"a6a6026a-9c22-3f0b-b84a-6db35c64589c","record-reader":"43bc6590-344b-30cb-978b-66d161b2dc48","influxdb-enable-gzip":"false","influxdb-batch-flush-duration":"1000 ms","influxdb-batch-actions":"1000","influxdb-enable-batch":"false","influxdb-complex-field-behavior":"TEXT"},"propertyDescriptors":{"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-tags":{"name":"influxdb-tags","displayName":"Tags","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-batch-jitter-duration":{"name":"influxdb-batch-jitter-duration","displayName":"Batch flush jitter","identifiesControllerService":false,"sensitive":false},"influxdb-tags-field-behavior":{"name":"influxdb-tags-field-behavior","displayName":"Missing Tag Behavior","identifiesControllerService":false,"sensitive":false},"influxdb-timestamp-field":{"name":"influxdb-timestamp-field","displayName":"Timestamp field","identifiesControllerService":false,"sensitive":false},"influxdb-measurement":{"name":"influxdb-measurement","displayName":"Measurement","identifiesControllerService":false,"sensitive":false},"influxdb-log-level":{"name":"influxdb-log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"influxdb-fields-field-behavior":{"name":"influxdb-fields-field-behavior","displayName":"Missing Field Behavior","identifiesControllerService":false,"sensitive":false},"influxdb-timestamp-precision":{"name":"influxdb-timestamp-precision","displayName":"Timestamp precision","identifiesControllerService":false,"sensitive":false},"influxdb-fields":{"name":"influxdb-fields","displayName":"Fields","identifiesControllerService":false,"sensitive":false},"influxdb-null-behavior":{"name":"influxdb-null-behavior","displayName":"Null Values Behavior","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-batch-buffer-limit":{"name":"influxdb-batch-buffer-limit","displayName":"Batch flush buffer limit","identifiesControllerService":false,"sensitive":false},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false},"influxdb-service":{"name":"influxdb-service","displayName":"InfluxDB Controller Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"influxdb-enable-gzip":{"name":"influxdb-enable-gzip","displayName":"Enable gzip compression","identifiesControllerService":false,"sensitive":false},"influxdb-batch-flush-duration":{"name":"influxdb-batch-flush-duration","displayName":"Batch flush duration","identifiesControllerService":false,"sensitive":false},"influxdb-batch-actions":{"name":"influxdb-batch-actions","displayName":"Batch actions","identifiesControllerService":false,"sensitive":false},"influxdb-enable-batch":{"name":"influxdb-enable-batch","displayName":"Enable InfluxDB batching","identifiesControllerService":false,"sensitive":false},"influxdb-complex-field-behavior":{"name":"influxdb-complex-field-behavior","displayName":"Complex Field Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"44774a8b-6bc1-380d-aa3f-14d433dd07fe","instanceIdentifier":"8e995fd6-10bb-33ab-5744-35008cf145ee","name":"Consume TTN data","comments":"","position":{"x":272.0,"y":80.0},"type":"org.apache.nifi.processors.mqtt.ConsumeMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"1.27.0"},"properties":{"Max Queue Size":"1000","Client ID":"MTwXMTgyGCIvHhwpBR0bPSY","Last Will QoS Level":"0","Connection Timeout (seconds)":"30","record-writer":null,"Broker URI":"tcp://mqtt3.thingspeak.com:1883","add-attributes-as-fields":"true","SSL Context Service":null,"Username":"MTwXMTgyGCIvHhwpBR0bPSY","Session state":"true","Session Expiry Interval":"24 hrs","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"Topic Filter":"channels/2657391/subscribe","record-reader":null,"Group ID":null,"message-demarcator":null,"MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Last Will Retain":"false"},"propertyDescriptors":{"Max Queue Size":{"name":"Max Queue Size","displayName":"Max Queue Size","identifiesControllerService":false,"sensitive":false},"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false},"add-attributes-as-fields":{"name":"add-attributes-as-fields","displayName":"Add attributes as fields","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service (QoS)","identifiesControllerService":false,"sensitive":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false},"Topic Filter":{"name":"Topic Filter","displayName":"Topic Filter","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Message"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"0c07e370-b2ba-328b-91e3-3a33aec933fc","instanceIdentifier":"0fea81b5-0192-1000-ee18-380ddca1ffdc","name":"rename fields","comments":"","position":{"x":544.0,"y":312.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"jolt-spec":"{\n    \"channel_id\": \"channel_id\",\n    \"created_at\": \"created_at\",\n    \"entry_id\": \"entry_id\",\n    \"field1\": \"tempurature\",\n    \"field2\": \"humidity\",\n    \"field3\": \"ligh\",\n    \"field4\": \"atmosphere\"\n}","jolt-transform":"jolt-transform-shift","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"b8d3c55e-2db7-3310-8afa-d7105ac812a7","instanceIdentifier":"41b7d174-f2aa-313f-eaac-4bb1dfb6ef16","name":"data backup","comments":"","position":{"x":1592.0,"y":88.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/dylbbenson/Dropbox/Python_Projects/IoT_Data_Streaming_Pipeline/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"8f821aca-b2fc-3510-9425-59c7dc542b10","instanceIdentifier":"0c11d61e-0192-1000-cd46-faabd1e9934a","name":"Kafka Publisher","comments":"","position":{"x":1592.0,"y":344.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.27.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"7df9fecd-5909-3919-87fc-3292c47a7ac3","bootstrap.servers":"localhost:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"43bc6590-344b-30cb-978b-66d161b2dc48","message-header-encoding":"UTF-8","transactional-id-prefix":"iot-data-producer","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"iot-data"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"0f4c4620-a494-384a-a105-ff99e3275e2a","instanceIdentifier":"0d899fd6-0192-1000-fa01-f666901f1bea","name":"Replace nulls","comments":"","position":{"x":832.0,"y":552.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Regular Expression":"null","Replacement Value":"\"0\"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7d6df628-81ce-3577-b4fe-4a6e03ba2cfa","instanceIdentifier":"0fbc3cbb-0192-1000-d5bb-e704f9054fe1","name":"","source":{"id":"d5ed00b2-0a27-3c2c-bbb6-b6562b7ea73a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"add metadata","comments":"","instanceIdentifier":"0fb9a232-0192-1000-3a1c-f5c80915132c"},"destination":{"id":"8f821aca-b2fc-3510-9425-59c7dc542b10","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Kafka Publisher","comments":"","instanceIdentifier":"0c11d61e-0192-1000-cd46-faabd1e9934a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"d54ba84d-85fa-3f72-a5cb-8f617c10ce56","instanceIdentifier":"0feaa8c4-0192-1000-119c-f04b5297c0c1","name":"","source":{"id":"44774a8b-6bc1-380d-aa3f-14d433dd07fe","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Consume TTN data","comments":"","instanceIdentifier":"8e995fd6-10bb-33ab-5744-35008cf145ee"},"destination":{"id":"0c07e370-b2ba-328b-91e3-3a33aec933fc","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"rename fields","comments":"","instanceIdentifier":"0fea81b5-0192-1000-ee18-380ddca1ffdc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"3e634ff1-4c90-3500-b660-833d6edb152c","instanceIdentifier":"0d8aca7c-0192-1000-6b70-d2c4c4cc67d8","name":"","source":{"id":"8a3eed69-cb2c-3919-8be9-03dc158fcd5a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Kafka Consumer","comments":"","instanceIdentifier":"0c1e2f6c-0192-1000-3d6d-2dedfbb9cae3"},"destination":{"id":"0f4c4620-a494-384a-a105-ff99e3275e2a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Replace nulls","comments":"","instanceIdentifier":"0d899fd6-0192-1000-fa01-f666901f1bea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"4d73a10f-9959-3bad-84ce-d8df98bd2c10","instanceIdentifier":"0d8ad7f1-0192-1000-9a82-a3d7894af5f9","name":"","source":{"id":"0f4c4620-a494-384a-a105-ff99e3275e2a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Replace nulls","comments":"","instanceIdentifier":"0d899fd6-0192-1000-fa01-f666901f1bea"},"destination":{"id":"d7ebc007-5e62-3769-a1ab-ede3d91688a8","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"Write to Influx","comments":"","instanceIdentifier":"0c372f3c-0192-1000-7c3d-2e532775444d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"572c82c4-afac-36c6-bbe3-e08ab28bf36a","instanceIdentifier":"0feab766-0192-1000-a6ef-2dded598a30f","name":"","source":{"id":"0c07e370-b2ba-328b-91e3-3a33aec933fc","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"rename fields","comments":"","instanceIdentifier":"0fea81b5-0192-1000-ee18-380ddca1ffdc"},"destination":{"id":"d5ed00b2-0a27-3c2c-bbb6-b6562b7ea73a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"add metadata","comments":"","instanceIdentifier":"0fb9a232-0192-1000-3a1c-f5c80915132c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"59c57b88-e852-33ff-b36e-d1cc68c49ac6","instanceIdentifier":"0fbc58e1-0192-1000-c1a7-cf40e6e7836d","name":"","source":{"id":"d5ed00b2-0a27-3c2c-bbb6-b6562b7ea73a","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"add metadata","comments":"","instanceIdentifier":"0fb9a232-0192-1000-3a1c-f5c80915132c"},"destination":{"id":"b8d3c55e-2db7-3310-8afa-d7105ac812a7","type":"PROCESSOR","groupId":"bf97c5f2-1350-3ce4-b776-c5600d946886","name":"data backup","comments":"","instanceIdentifier":"41b7d174-f2aa-313f-eaac-4bb1dfb6ef16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"a6a6026a-9c22-3f0b-b84a-6db35c64589c","instanceIdentifier":"0c37762c-0192-1000-a0cd-dec18da24202","name":"StandardInfluxDatabaseService","comments":"","type":"org.influxdata.nifi.services.StandardInfluxDatabaseService","bundle":{"group":"org.influxdata.nifi","artifact":"nifi-influx-database-nar","version":"1.30.0"},"properties":{"influxdb-client-type":null,"influxdb-username":null,"influxdb-url":"http://localhost:8086","inluxdb-ssl":null,"inluxdb-ssl-auth":"REQUIRED","influxdb-connection-timeout":"0 seconds"},"propertyDescriptors":{"influxdb-client-type":{"name":"influxdb-client-type","displayName":"InfluxDB Client type","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"inluxdb-ssl":{"name":"inluxdb-ssl","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"inluxdb-ssl-auth":{"name":"inluxdb-ssl-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"influxdb-connection-timeout":{"name":"influxdb-connection-timeout","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.influxdata.nifi.services.InfluxDatabaseService","bundle":{"group":"org.influxdata.nifi","artifact":"nifi-influx-database-nar","version":"1.30.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"7df9fecd-5909-3919-87fc-3292c47a7ac3","instanceIdentifier":"0c1753c1-0192-1000-4fc2-80cb60807bde","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"},{"identifier":"43bc6590-344b-30cb-978b-66d161b2dc48","instanceIdentifier":"0c172235-0192-1000-cf5d-0f87905a8076","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf97c5f2-1350-3ce4-b776-c5600d946886"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}